/.DS_Store
modules/gpmf-swift-sdk-main/Tests/GPMFSwiftSDKTests/TestData/20251201 max
modules/gpmf-swift-sdk-main/Tests/GPMFSwiftSDKTests/TestData/20251211 mau
modules/gpmf-swift-sdk-main/Tests/GPMFSwiftSDKTests/TestData/GX040246.MP4
modules/gpmf-swift-sdk-main/.build
modules/gpmf-swift-sdk-main/.claude